.raise-doubt{
    border: 1px solid #000;
    margin: 0 auto;
    width: 80%;
    background-color: #f5f5f5 !important;
   }

h2 {
    margin-left:9%
}


  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  